@tailwind base;
@tailwind components;
@tailwind utilities;
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100&display=swap');

* {
    box-sizing: border-box;
}
body {
    background-color: #141416;
    font-family: 'Poppins', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}
.gradient_text_og_global {
    background-image: linear-gradient(135deg, #93c497 10%, #e06068 60%);
    background-clip: text;
    color: transparent;
    // background-image: url('https://res.cloudinary.com/doy1foyff/image/upload/v1637853127/pinkbg_yxco82.png');
    // -webkit-background-clip: text;
    // -w
}
.gradient_og_global {
    background-image: linear-gradient(135deg, #93c497 5%, #e06068 60%);
}
.purple_gradient_og_global {
    background: linear-gradient(102deg, #4d5fff -8.01%, #e0565f 100.32%);
    box-shadow: 0px 8px 12px rgba(102, 93, 227, 0.2);
}
.height_minus_nav_og_global {
    min-height: calc(100vh - 88px);
}
.border-1 {
    border: 1px solid;
}
.heading_og_global {
    position: relative;
    font-size: 24px;
    // display: inline-block;
    font-weight: 500;
    &::after {
        content: '';
        position: absolute;
        bottom: -10px;
        left: 0;
        height: 7px;
        width: 150px;
        border-radius: 20px;
        background: linear-gradient(40deg, #ffdfa7, #e0565f);
        box-shadow: 0px 2px 4px rgba(224, 86, 95, 0.2);
    }
}
